

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    padding: 50px;
    background-color: aqua;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;


}

nav a {


}

.row { 
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 30px;
    background-color: blanchedalmond;
    padding: 20px;
}

section {
    flex: 70px;
    background-color: brown;
    padding: 20px;




}

footer {
    padding: 20px;
    text-align: center;
    background-color: antiquewhite;
}